<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>{{project}} - Pendentes</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-fab bottom right>
        <button ion-fab (click)="taskCreate($event)">
            <ion-icon name="add"></ion-icon>
        </button>
    </ion-fab>
    <ion-fab top right edge>
        <button ion-fab color="secondary" mini (click)="taskArchive($event)">
            <ion-icon name="archive"></ion-icon>
        </button>
    </ion-fab>

    <ion-list>
        <ion-item *ngIf="isEmpty()" class="center">
            <ion-note>Nenhuma tarefa pendente.</ion-note>
        </ion-item>
        <ion-item *ngFor="let task of tasks" [hidden]="task.status !== 'pending'">
            <ion-note item-left>
                <button ion-button icon-only clear color="secondary" (click)="taskComplete(task, $index)">
                  <ion-icon name="square-outline"></ion-icon>
                </button>
            </ion-note>
            <ion-note item-left class="margin-right-15">
                <h1>{{task.priority}}</h1>
            </ion-note>
            <h2>{{task.name}}</h2>
            <p>{{task.description}}</p>
            <ion-badge item-right>{{task.limitAt}}</ion-badge>
            <ion-note item-right>
                <button ion-button icon-only clear (click)="taskEdit($event,task)">
                  <ion-icon name="create"></ion-icon>
                </button>
                <button ion-button icon-only clear color="danger" (click)="taskRemove($event,task)">
                  <ion-icon name="close"></ion-icon>
                </button>
            </ion-note>
        </ion-item>
    </ion-list>
</ion-content>