<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>Cadastro de Projetos</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-fab top right edge>
        <button ion-fab color="vibrant" mini  (click)="taskCreate(event,task)">
            <ion-icon name="add"></ion-icon>
        </button>
    </ion-fab>

    <ion-list>
        <button ion-item *ngFor="let task of tasks" (click)="taskTapped(task)">
            <ion-note item-left>
                <button ion-button icon-only clear color="secondary" (click)="taskComplete(event,task)">
                  <ion-icon name="square-outline"></ion-icon>
                </button>
            </ion-note>
            <ion-note item-left>
                <h1>1</h1>
            </ion-note>
            <h2>{{task.name}}</h2>
            <p>{{task.description}}</p>
            <ion-badge item-right>00/00/0000</ion-badge>
            <ion-note item-right>
                <button ion-button icon-only clear (click)="taskEdit(event,task)">
                  <ion-icon name="create"></ion-icon>
                </button>
                <button ion-button icon-only clear color="danger" (click)="taskRemove(event,task)">
                  <ion-icon name="close"></ion-icon>
                </button>
            </ion-note>
        </button>
    </ion-list>

    <ion-list>
        <ion-list-header>
            Concluída
        </ion-list-header>
        <button ion-item *ngFor="let task of tasks">
            <ion-note item-left>
                <button ion-button icon-only clear (click)="taskRestore(event,task)">
                    <ion-icon name="checkmark"></ion-icon>
                </button>
            </ion-note>
            <p>{{task.name}}</p>
            
            
        </button>

    </ion-list>

</ion-content>