<ion-menu [content]="content">

    <ion-header>
        <ion-toolbar>
            <ion-title>Menu</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <ion-list>
            <button ion-item (click)="open()">
                Inicio
            </button>
        </ion-list>
        <ion-list>
            <ion-list-header>
                Projetos
                <ion-note item-right>
                    <button ion-button icon-only clear color="dark" (click)="openPage()">
                        <ion-icon name="settings"></ion-icon>
                    </button>
                </ion-note>
            </ion-list-header>
            <button ion-item *ngFor="let project of projects" (click)="openProject(project)">
                {{project.name}}
            </button>
        </ion-list>
        <div padding *ngIf="isEmpty()">
            <button ion-button ion-padding block (click)="openPage()">Cadastrar novo projeto</button>
        </div>

    </ion-content>
    <ion-footer>
        <ion-toolbar>
            <ion-note>Task-Project-beta v0.1.0</ion-note>
        </ion-toolbar>
    </ion-footer>

</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>